<%@title = 'All posts' %>
<%@body = '' %>
<% @articles.each do |article| %>
	<div class="boxshadow">
	<h2 style="text-align: center"><%= article.title %></h2>

	<br />
	<br />
	<p>
		<%= article.text%>
	</p>
	</div>
	<% if user_signed_in?%>
	<%@a = 'btn btn-default'%>
    <% else %>
    <%@a =  'btn btn-default hidden' %> 
    <% end %>
	<div class="btn-group" role="group" aria-label="...">
	 	<%= link_to 'Show this artcile', article_path(article), type: "button", class: "btn btn-default"%> 
		<%= link_to 'Edit', edit_article_path(article), type: "button", class: @a%> 
		<%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, type: "button", class: @a %>
	</div>
	
<% end %>


