<h1>
	<%=@article.title%>
</h1>
<p>
	<%= @article.text %>
</p>

<h2>Comments</h2>





<% @article.comments.each do |comment| %>
	
	    
	<%= comment.author%> Said: 
	<i><%= comment.body%> </i>
 	

<hr />
<% end %>

<h2>Add comments</h2>
<p>
<%= form_for([@article, @article.comments.build]) do |f| %>
		<%= f.text_area :author, class: "hidden", value: current_user.username %>
	  	
	<p>
		<%= f.label :body %><br />
		<%= f.text_area :body, style: "width: 80%;
  max-width: 550px;
  margin: 3em auto;
  padding: 1em;
  box-shadow:
   -20px 20px 0 -17px #fff,
   20px -20px 0 -17px #fff,
   20px 20px 0 -20px #c27153,
   0 0 0 2px #c27153;" %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	</p>
<% end %> 
</p>

