
<!-- 
<%= render "devise/shared/links" %> -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div id="container">
    <form>
      <label for="name">Логин:</label>
      <%= f.email_field :email, autofocus: true, type: "name"%>
      <label for="username">Пароль:</label>
      <%= f.password_field :password, autocomplete: "off", type: "password" %>
      <div id="lower">
        <input type="checkbox"><label class="check" for="checkbox">Запомнить меня</label>
        <%= f.submit "Log in", type: "submit", value: "Log in" %>
      </div>

    </form>
  </div>
  <% end %>
  