<!DOCTYPE html>
<html>
	<!-- bootstrap! -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
 

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<head>
  <title>Blog</title>

  	<nav class="navbar navbar-default navbar-fixed-top">  
  		<div class="container-fluid"> 
  			<div class="navbar-header"> 
  				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
  					<span class="sr-only">Toggle navigation</span> 
  					<span class="icon-bar"></span> 
  					<span class="icon-bar"></span> 
  					<span class="icon-bar"></span> 
  				</button> 
  					<a class="navbar-brand" href="/home/index">Home#ix</a> 
  			</div> 
  			
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6"> 
  					
  					<ul class="nav navbar-nav"> 
  			
  						<li class="active"><a href="/home/index">Home</a></li> 
  						<li><a href="/about">About</a></li> 
  						<li><a href="/articles">Все посты</a></li> 
  						<li><a href="/terms">Terms</a></li> 
              <li><a href="/articles/new">New post</a></li> 
  					</ul>
  						<div align = "right">
		  						<% if user_signed_in? %>
									<%= current_user.username %> | <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn", style: "width: 80%;
  max-width: 90px;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -20px 0 20px -20px rgba(0, 0, 0, .8),
   20px 0 20px -20px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;"%>
								<% else %>
                
                <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default navbar-btn", style: "width: 80%;
  max-width: 90px;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -20px 0 20px -20px rgba(0, 0, 0, .8),
   20px 0 20px -20px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;"%> 
									
                <%= link_to 'Sign in', new_user_session_path, class: "btn btn-default navbar-btn", style: "width: 80%;
  max-width: 90px;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -20px 0 20px -20px rgba(0, 0, 0, .8),
   20px 0 20px -20px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;"%> 
               
								<% end %>	
						</div>		
  			
  				</div> 
  		</div> 
  	</nav> 

<!-- Заставка -->
<div class="splash">
  <div class="container">
    <!-- Текст, размещенный на заставке -->
    <h1><%=@title%></h1>
    <p><%=@body%></p>
  </div>
</div>

</head>
<body>
<div class="container">
	<div class="row">
			<p class="notice"><%= notice %></p>
		    <p class="alert"><%= alert %></p>
			<%= yield %>
	</div>
</div>
</body>
</html>
